{%extends "nav.html"%}
{%block content%}
<div class="about">
    <h1>Aboot</h1>
    <p class="aboutsection">This app was created for newcomers to Canada and for people with Canadian expat friends. Our lingo varies from the other flavours of English and can be confusing to the uninitaited. Hopefully this app can help people naviagte our lexicon. Note: some words are region-specific. <br>
    <br>
    <br>
    Technologies used:
    <br>
    <br>
    Python 3
    <br>
    <br>
    HTML 
    <br>
    <br>
    CSS
    </p>
</div>
{%endblock%}