<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canadian Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="container">
                <ul class="navigation">
                    <li><a href="{{ url_for('home') }}">Search</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('submit') }}">Submit</a></li>
                </ul>
        </div>
    </header>
    <div class="content">
        {%block content%}
        {%endblock%}
    </div>
</body>
</html>